<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ImageTitle</key>
		<string>spiderman</string>
		<key>ImageFileName</key>
		<string>spiderman</string>
	</dict>
	<dict>
		<key>ImageTitle</key>
		<string>superman</string>
		<key>ImageFileName</key>
		<string>superman</string>
	</dict>
	<dict>
		<key>ImageTitle</key>
		<string>ironman</string>
		<key>ImageFileName</key>
		<string>ironman</string>
	</dict>
</array>
</plist>
